.encabezado{
    background-color: #286090;
        color:#fff;
        font-size: 20px;
        height: 40px;
}


.pie{
    
    background-color: #9d9d9d;
    color: #fff;
    height: 36px;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    
}
